header, footer{
    background-color: #345956;
    border-radius: 20px;
    text-align: center;
    text-decoration: double;
    margin: auto;
}
footer div {
    color: honeydew;
    font-size: 40px;
}
body{
    background-color: #5d8c84;
}
p{
    font-style:italic;
    font-size: 20px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
.pMoral{
    color: bisque;
}
h1{
    color: #400207;
    font-size: 60px;
}
h2{
    color: black;
    font-size: 40px;
}
.container{
    text-align: center;
}
.container img{
    width: 95%;
    border-radius: 20px;
}

