header, footer{
    background-color: #345956;
    border-radius: 20px;
    text-align: center;
    text-decoration: double;
    margin: auto;
}

body{
    background-color: #5d8c84;
}
h1{
    color: #400207;
    font-size: 60px;
}
h2{
    color: black;
    font-size: 40px;
}
.container{
    text-align: center;
}
.container img{
    width: 95%;
    border-radius: 20px;
}
